// Підключаємо головний файл стилів, використовуючи директиву @use
@use "assets/styles/_main.scss" as *;

// Стилі для кнопки "Прокрутка до верху"
.scrollToTop {
  // Встановлюємо фіксоване положення для кнопки
  position: fixed;
  // Встановлюємо високий z-index для забезпечення видимості поверх інших елементів
  z-index: 50;
  // Позиціонуємо кнопку в нижньому правому куті
  bottom: 1.25rem;
  right: 0.75rem;
  // Встановлюємо пропорції для кнопки (ширина до висоти 1:1)
  aspect-ratio: 1 / 1;
  // Встановлюємо ширину кнопки
  width: 2.75rem;
  // Встановлюємо основний колір фону для кнопки
  background-color: var(--primary-dark);
  // Встановлюємо білий колір для тексту
  color: $white;
  // Задаємо закруглені кути для кнопки
  border-radius: 0.375rem;
  // Встановлюємо курсор "pointer" для кнопки
  cursor: pointer;
  // Додаємо плавний перехід для змін стилів
  transition: 150ms ease-in-out;

  // Використовуємо міксин для встановлення розміру тексту
  @include text-lg;

  // Використовуємо міксин для ефектів при наведенні
  @include hoverable {
    // Зміна кольору фону при наведенні
    &:hover {
      background-color: var(--scroll-to-top-hovered);
    }
  }

  // Використовуємо медіа-запит для стилів на великих екранах
  @include for-desktop-up {
    // Змінюємо положення кнопки на великих екранах
    bottom: 2rem;
    right: 3.5rem;
    // Збільшуємо ширину кнопки
    width: 3rem;
  }

  // Використовуємо медіа-запит для стилів на дуже великих екранах
  @include for-extra-large-screen {
    // Змінюємо положення кнопки на дуже великих екранах
    bottom: 3.5rem;
    right: 6rem;
    // Збільшуємо ширину кнопки
    width: 4rem;

    // Використовуємо міксин для збільшення розміру тексту
    @include text-xl;
  }
}
